Time Series Forcasting for Shivajinagar region(2017-2022) PM2.5

# Step 1: Loading Data & Necessary Library import

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import polyfit

In [4]:
data = pd.read_csv(
    'C:\\Users\\HP\\documents\\dev\\Machine-Learning-for-Time-Series-with-Python\\Dataset\\Shivajinagar_2017_2022.csv'
)

In [5]:
data.head(5)

,Datetime,PM10,PM2.5,BLH,RAIN,PRE,TD,T,V10,U10
0,01-01-2017 00:00,186.96,60.38,15.617772,0.0,93739.060,284.02540,288.18402,-0.047831,-1.204466
1,01-01-2017 01:00,157.00,47.24,16.853600,0.0,93779.060,283.98352,288.19727,0.083421,-1.350976
2,01-01-2017 02:00,145.43,41.26,20.318794,0.0,93837.625,284.61523,289.20184,0.260024,-1.572601
3,01-01-2017 03:00,127.09,33.59,38.729538,0.0,93961.060,284.42792,289.68146,0.144890,-1.689433
4,01-01-2017 04:00,96.67,25.62,157.684810,0.0,94006.940,286.06256,294.19410,0.091927,-1.338777

In [6]:
data.dtypes

Datetime     object
PM10        float64
PM2.5       float64
BLH         float64
RAIN        float64
PRE         float64
TD          float64
T           float64
V10         float64
U10         float64
dtype: object

In [7]:
data.columns

Index(['Datetime', 'PM10', 'PM2.5', 'BLH', 'RAIN', 'PRE', 'TD', 'T', 'V10',
       'U10'],
      dtype='object')

In [9]:
data['Datetime'] = pd.to_datetime(data['Datetime'], dayfirst=True)

In [10]:
data.head(5)

,Datetime,PM10,PM2.5,BLH,RAIN,PRE,TD,T,V10,U10
0,2017-01-01 00:00:00,186.96,60.38,15.617772,0.0,93739.060,284.02540,288.18402,-0.047831,-1.204466
1,2017-01-01 01:00:00,157.00,47.24,16.853600,0.0,93779.060,283.98352,288.19727,0.083421,-1.350976
2,2017-01-01 02:00:00,145.43,41.26,20.318794,0.0,93837.625,284.61523,289.20184,0.260024,-1.572601
3,2017-01-01 03:00:00,127.09,33.59,38.729538,0.0,93961.060,284.42792,289.68146,0.144890,-1.689433
4,2017-01-01 04:00:00,96.67,25.62,157.684810,0.0,94006.940,286.06256,294.19410,0.091927,-1.338777

In [11]:
data.Datetime.min(), data.Datetime.max()

(Timestamp('2017-01-01 00:00:00'), Timestamp('2022-12-31 23:00:00'))

In [12]:
data.describe()

,Datetime,PM10,PM2.5,BLH,RAIN,PRE,TD,T,V10,U10
count,52584,50269.000000,50268.000000,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000
mean,2020-01-01 11:30:00,87.565839,58.067052,574.777863,0.000193,93505.842951,291.166602,297.375681,0.106515,0.974618
min,2017-01-01 00:00:00,0.000000,2.650000,11.374372,0.000000,91961.690000,271.636230,281.320920,-3.962082,-10.056665
25%,2018-07-02 17:45:00,48.500000,32.650000,89.935685,0.000000,93265.985000,287.493265,295.121202,-0.638081,-1.075553
50%,2020-01-01 11:30:00,79.040000,51.930000,395.612670,0.000000,93525.560000,292.783690,296.948910,-0.015975,1.283106
75%,2021-07-02 05:15:00,115.760000,76.450000,766.220510,0.000107,93761.891250,295.094600,299.901482,0.792827,2.710442
max,2022-12-31 23:00:00,932.190000,660.770000,4058.470200,0.017602,94555.690000,298.620850,313.125000,9.051890,8.639411
std,NaN,50.778580,33.872272,636.017496,0.000621,339.235703,4.574261,4.455868,1.099482,2.392592

# Step 2: Time Series Analysis - Exploratory Data Analysis